@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

@-webkit-keyframes logo-init {
  from {
    top: 40%;
  }
  to {
    top: 18%;
  }
}

@keyframes logo-init {
  from {
    top: 40%;
  }
  to {
    top: 18%;
  }
}
@-webkit-keyframes links-init {
  from {
    top: 40%;
  }
  to {
    top: 55%;
  }
}
@keyframes links-init {
  from {
    top: 40%;
  }
  to {
    top: 55%;
  }
}
@font-face {
  font-family: "Muthiara";
  src: url("../src/font-muthiara/muthiara.otf") format("truetype");
}
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-height: 200vh;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  color: #1a1a1a;
  line-height: 1.5;
  background-color: #fffdf8;
}
body.no-scroll {
  overflow: hidden;
}

h1, h2, h3 {
  line-height: 1.15;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: #ff8000;
}

ul {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  max-width: 69.375rem;
  padding: 2.25rem 1.0625rem;
}
.container--px {
  padding: 0 1.0625rem;
}
.container--py {
  padding: 2.25rem 0;
}
.container--pt {
  padding-top: 2.25rem;
}
.container--pr {
  padding-right: 1.0625rem;
}
.container--pb {
  padding-bottom: 2.25rem;
}
.container--pl {
  padding-left: 1.0625rem;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

button, .button {
  display: inline-block;
  padding: 0.875rem 1.875rem;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
}

.nav-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  min-height: 10vh;
  width: 100%;
  background-color: #dfcdcdbb;
  color: #1a1a1a;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: none;
  display: none;
}
.nav-desktop .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 80%;
  min-height: 5vh;
}

.hero {
  min-height: 100vh;
  background-color: #ffffcc;
  position: relative;
}
@media (min-width: 64em) {
  .hero {
    display: none;
  }
}
@media (min-width: 40em) {
  .hero .hero__img {
    max-width: 280px;
  }
}
.hero__imgContainer {
  background-color: #ffffcc;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 40%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1;
  -webkit-animation: logo-init 2s 1s 1 forwards;
          animation: logo-init 2s 1s 1 forwards;
}
.hero__img {
  max-width: 200px;
}
.hero__links {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: none;
  text-align: center;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 40%;
  -webkit-animation: links-init 2s 1s 1 forwards;
          animation: links-init 2s 1s 1 forwards;
}

.hero-desktop {
  background-color: #ffffcc;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: normal;
          flex-flow: normal;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 63.9375em) {
  .hero-desktop {
    display: none;
  }
}
.hero-desktop__menuContainer {
  font-size: 2rem;
  font-weight: bold;
  text-transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #8ab0bcbb;
  width: 40%;
  overflow: hidden;
  height: 100vh;
  border-radius: 42% 47% 59% 30%/0% 48% 66% 0%;
}
.hero-desktop__menuContainer > ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero-desktop__menuContainer > ul:hover li {
  opacity: 0;
}
.hero-desktop__menuContainer > ul li {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.hero-desktop__menuContainer > ul li:hover {
  opacity: 1;
}
.hero-desktop__menuContainer > ul li::before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 5.5rem;
  font-weight: bold;
  text-transform: none;
  pointer-events: none;
  letter-spacing: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  white-space: nowrap;
  opacity: 0;
}
.hero-desktop__menuContainer > ul li:hover::before {
  opacity: 0.2;
  letter-spacing: 0;
}
.hero-desktop__menuContainer > ul li a {
  position: relative;
  display: inline-block;
  padding: 6px 15px;
  letter-spacing: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}
.hero-desktop__menuContainer > ul li a:hover {
  color: #1a1a1a;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.hero-desktop__logoContainer {
  width: 60%;
}
.hero-desktop__logo {
  max-width: 400px;
}
.hero-desktop__logoContainer {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero-desktop .logo {
  max-width: 300px;
}
.hero-desktop .eslogan {
  margin-top: 3rem;
  max-width: 200px;
  display: none;
}
.hero-desktop h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 2rem 2rem 0 2rem;
  text-align: center;
}
.hero-desktop h1 > span {
  color: #ff8000;
}
.hero-desktop h2 {
  font-size: 1rem;
  font-weight: normal;
  text-transform: none;
  margin-top: 0.8rem;
}
.hero-desktop h2 > span {
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: none;
  font-family: "Muthiara";
}

.about {
  background-color: #fffdf8;
  position: relative;
}
.about__title {
  display: inline-block;
  padding: 10px 20px 30px 20px;
  position: absolute;
  top: -45px;
  left: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: none;
  background-color: #fffdf8;
  border-radius: 20px;
}
.about .content {
  min-height: 110vh;
  position: relative;
  overflow: hidden;
  background-color: #fffdf8;
  background-image: url("../img/background-4-l.png");
  background-position: 10% 40%;
  background-repeat: no-repeat;
}
@media (min-width: 40em) {
  .about .content {
    display: none;
  }
}
.about .img-profile {
  max-width: 230px;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.about .img-dialog {
  position: absolute;
  left: 50%;
  top: 32%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 2;
}
.about .content__text {
  position: absolute;
  left: 50%;
  top: 64%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 3;
  font-size: 1rem;
  font-weight: normal;
  text-transform: none;
  text-align: center;
  width: 250px;
}
.about .content__text > .daniela {
  font-family: "Muthiara";
}
.about .content__text > span {
  color: #ff8000;
}
.about .content-desktop {
  background-color: #fffdf8;
}
@media (max-width: 39.9375em) {
  .about .content-desktop {
    display: none;
  }
}
.about .profile-container {
  background-image: url("../img/background-4-l.png");
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: 20% -20%;
  position: relative;
  min-height: 90vh;
}
@media (min-width: 87.5em) {
  .about .profile-container {
    background-size: 100%;
    background-position: 10% -10%;
  }
}
.about .img-profile-desktop {
  max-width: 300px;
  position: absolute;
  top: 30%;
  left: 15%;
}
.about .dialog-container {
  position: absolute;
  left: 35%;
  top: 5%;
  z-index: 2;
}
.about .text-desktop {
  top: 30%;
  left: 57%;
}

.services {
  background-color: #ffffcc;
  position: relative;
  margin-top: 2rem;
  min-height: 140vh;
}
@media (min-width: 40em) {
  .services {
    margin-top: 0;
  }
}
@media (min-width: 40em) {
  .services {
    display: none;
  }
}
.services__title {
  display: inline-block;
  padding: 10px 20px 30px 20px;
  position: absolute;
  top: -45px;
  left: 20px;
  z-index: 3;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: none;
  background-color: #ffffcc;
  border-radius: 20px;
}
@media (min-width: 40em) {
  .services__title {
    background-color: #fffdf8;
  }
}
.services__img {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.services .img-background-1 {
  position: absolute;
  top: 40%;
  width: 700px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
}
.services .img-background-2 {
  position: absolute;
  top: 40%;
  left: 10%;
  width: 600px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 4;
}
.services .img-lamp {
  position: absolute;
  max-width: 220px;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 6;
}
.services__container {
  overflow: hidden;
  position: absolute;
  z-index: 7;
  top: 40%;
  left: -120px;
}
.services .background__image {
  width: 120%;
}
@media (min-width: 400px) {
  .services .background__image {
    width: 80%;
    position: relative;
    left: 10%;
  }
}
.services__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -20%;
  left: -5%;
  text-align: center;
  width: 110%;
}
.services .services__text {
  width: 60%;
  position: absolute;
  top: 20%;
  left: 30%;
}
.services .services__text > h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: none;
}
.services .services__text > h2 > span {
  color: #ff8000;
}
.services .services__text > p {
  font-size: 1rem;
  font-weight: normal;
  text-transform: none;
  margin-top: 0.5rem;
}

.services-desktop {
  min-height: 80vh;
  position: relative;
}
@media (min-width: 40em) {
  .services-desktop {
    background-color: #dfcdcd;
  }
  .services-desktop .services__title {
    background-color: #dfcdcd;
  }
}
@media (max-width: 39.9375em) {
  .services-desktop {
    display: none;
  }
}
@media (max-width: 63.9375em) {
  .services-desktop .services-desktop__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 120vh;
  }
  .services-desktop .info__article {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 2rem;
    text-align: center;
  }
  .services-desktop .info__article > p {
    margin-top: 1rem;
  }
}
.services-desktop__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: inherit;
}
.services-desktop .info__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 500px;
}
.services-desktop .info__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  overflow: hidden;
  max-width: 400px;
}
.services-desktop .info__article > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: none;
}
.services-desktop .info__article span {
  color: #ff8000;
}

.contact {
  background-color: #fffdf8;
  position: relative;
  padding-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 64em) {
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    min-height: 90vh;
  }
}
.contact__title {
  display: inline-block;
  padding: 10px 20px 30px 20px;
  position: absolute;
  top: -45px;
  left: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: none;
  background-color: #fffdf8;
  border-radius: 20px;
  z-index: 1;
}
.contact__subtitle {
  font-size: 1rem;
  font-weight: bold;
  text-transform: none;
  z-index: 2;
}
@media (min-width: 64em) {
  .contact__subtitle {
    font-size: 3rem;
  }
}
.contact .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 70vh;
  border-radius: 50px;
}
.contact .form .input {
  padding: 10px 15px;
  border: 1px solid #1a1a1a;
  border-radius: 20px;
  outline: none;
  font-size: 1.2rem;
  font-weight: normal;
  text-transform: none;
  margin-right: 1rem;
  margin-left: 1rem;
}
@media (min-width: 64em) {
  .contact .form .input {
    padding: 15px 35px;
  }
}
.contact .form .input:not(:first-child) {
  margin-top: 1.8rem;
}
.contact .form .button {
  background: #ff8000;
  border-radius: 20px;
  border: none;
  color: #1a1a1a;
  margin-top: 1.8rem;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  text-transform: none;
}
.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dfcdcdbb;
  width: 100%;
  height: 70vh;
  margin-top: 2rem;
}
.contact__info > p {
  margin-top: 1rem;
}
.contact__info > h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: normal;
  margin-top: 2rem;
}
.contact__info .info__logos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5rem 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  min-height: 40px;
  margin-top: 1rem;
}
@media (min-width: 40em) {
  .contact__info .info__logos {
    margin-top: 2rem;
  }
  .contact__info .info__logos > a > i {
    font-size: 4rem;
  }
}

.footer {
  min-height: 40vh;
  background-color: #272623ec;
  color: #fffdf8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.75rem;
  font-weight: normal;
  text-transform: none;
  text-align: center;
}
@media (min-width: 40em) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}
.footer .footer__logo {
  max-width: 50px;
}
.footer .cv-container {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 40em) {
  .footer .cv-container {
    min-height: 15vh;
  }
}
.footer .jg-container {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 40em) {
  .footer .jg-container {
    min-height: 15vh;
  }
}
/*# sourceMappingURL=main.css.map */