.hero {
  min-height: 100vh;
  background-color: $color-ddl;
  position: relative;
  @include breakpoint-up(large){
    display: none;
  }
  @include breakpoint-up(medium) {
    .hero__img {
      max-width: 280px;
    }
  }

  &__title {
    position: absolute;
    margin-top: 2rem;
    width: 100%;
    @include flex(column, center, center);

    h1 {
      @include font($font-m, bold, uppercase);
  
      > span {
        color: $color-orange;
      }
    }
  
    h2 {
      @include font($font-xs, normal, none);
      margin-top: 0.8rem;
  
      > span {
        @include font($font-s, normal, none);
        font-family: 'Muthiara';
      }
    }
  }

  &__imgContainer {
    background-color: $color-ddl;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 40%;
    width: fit-content;
    z-index: 1;
    animation: logo-init 2s 1s 1 forwards;
  }
  
  &__img {
    max-width: 200px;
  }

  &__links {
    position: absolute;
    @include flex(column, center, center);
    @include font($font-l, bold, none);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 40%;
    animation: links-init 2s 1s 1 forwards;
  }
}

.hero-desktop {
  @include breakpoint-down(medium){
    display: none;
  }

  background-color: $color-ddl;
  height: 100vh;
  @include flex(normal, center, center);


  &__menuContainer {
    @include font($font-l, bold, none);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-turquesa-light;
    width: 40%;
    overflow: hidden;
    height: 100vh;
    border-radius: 42% 47% 59% 30% / 0% 48% 66% 0%;

    > ul {
      position: relative;
      display: flex;
      flex-direction: column;
    }

    > ul:hover li {
      opacity: 0;
    }

    > ul li {
      transition: all 0.5s ease-in;
    }

    > ul li:hover {
      opacity: 1;
    }

    > ul li::before {
      content: attr(data-text);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #ffffff;
      @include font(5.5rem, bold, none);
      pointer-events: none;
      letter-spacing: 20px;
      transition: 0.5s;
      white-space: nowrap;
      opacity: 0;
    }

    > ul li:hover::before {
      opacity: 0.2;
      letter-spacing: 0;
    }

    > ul li a {
      position: relative;
      display: inline-block;
      padding: 6px 15px;
      letter-spacing: 2px;
      transition: 0.5s;
      z-index: 1;

      &:hover {
        color: $color-oscuro;
        transform: scale(1.3);
      }
    }
  }

  &__logoContainer {
    width: 60%;
  }

  &__logo {
    max-width: 200px;
  }

  &__logoContainer {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    max-width: 300px;
  }

  .eslogan {
    margin-top: 3rem;
    max-width: 200px;
    display: none;
  }

  h1 {
    @include font($font-xl, bold, uppercase);
    margin: 2rem 2rem 0 2rem;
    text-align: center;

    > span {
      color: $color-orange;
    }
  }

  h2 {
    @include font($font-m, normal, none);
    margin-top: 0.8rem;

    > span {
      @include font($font-xm, normal, none);
      font-family: 'Muthiara';
    }
  }

  .logoContainer__button {
    background: $color-orange;
    border-radius: 100px;
    padding: 10px 50px;
    color: $color-claro;
    text-decoration: none;
    margin-top: 1.8rem;
    border: none;
    outline: none;
    @include font($font-xm, bold, none);

    &:hover {
      animation: hover 1200ms linear 2 alternate;
      color: white;
    }

    &:active {
      animation: active 1200ms ease 1 alternate; 
      background: $color-orange-light;
    }
  }
}